//COLORS
$white-color: #FFFFFF;
$black-color: #000000;
$dark-grey-color: #444444;
$mid-grey-color: #DEDEDE;
$light-grey-color: #EFEFEF;
$blue-color: #0EABD6;
$red-color: #FF0000;
$green-color: #8CC63E;
$yellow-color: #ffd52a;
$facebook-color: #1777f2;

//SCREEN SIZES BREAK POINTS
$desktop: 1200px;
$phone: 767px;

