@import '../../../config/config';

.empty_state {
  text-align: center;

  .image {
    display: inline-block;

    img {
      width: 217px;
      height: 217px;
    }

    .text {
      font-size: 23px;
      margin-top: 20px;
      color: #696969;
    }
  }
}
