@import '../../config/config';

.add_item {
  background: rgba(255, 255, 255, 0.92);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;

  & > .box {
    width: 493px;
    height: 804px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    text-align: left;

    @media (max-width: $phone) {
      width: 100%;
    }

    .head {
      padding: 30px 30px 20px 30px;
      position: relative;
      border-bottom: 1px solid $light-grey-color;
      height: 159px;

      @media (max-width: $phone) {
        padding: 20px;
        height: 149px;
      }

      .title {
        font-size: 30px;
      }

      & > .loading {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 18px 5px;
        height: 70px;
        top: 13px;
        left: 0;

        @media (max-width: $phone) {
          height: 39px;
          padding: 6px 5px;
          top: 20px;
        }

        img {
          width: 34px;

          @media (max-width: $phone) {
            width: 28px;
          }
        }
      }

      .search {
        position: relative;
        margin-top: 27px;

        & > input {
          border-radius: 3px;
          height: 46px;
          width: 100%;
          outline: none;
          padding-left: 40px;
          font-size: 16px;
          line-height: 19px;
          border: 1px solid $mid-grey-color;
        }

        & > img {
          position: absolute;
          left: 14px;
          top: 12px;
          width: 20px;
          height: 20px;
        }
      }

      .done {
        font-size: 22px;
        line-height: 26px;
        color: $blue-color;
        border: none;
        box-shadow: none;
        position: absolute;
        top: 38px;
        right: 29px;
        margin: 0;
        padding: 0;

        @media (max-width: $phone) {
          background-color: transparent;
          font-size: 18px;
          top: 30px;
        }
      }
    }

    .body {
      padding: 20px 30px 30px;
      height: calc(100% - 149px);
      overflow-y: scroll;

      @media (max-width: $phone) {
        padding: 20px;
      }

      & > .item {
        padding: 5px 0;
      }

      .empty {
        margin-top: 20px;

        img {
          width: 138px;
          height: 138px;
        }

        .text {
          font-size: 23px;
        }
      }
    }
  }

  & > .align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
