@import '../../config/config';

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

  @media (max-width: $phone) {
    height: 64px;
  }

  .image {
    height: 172px;
    border-bottom: 1px solid $light-grey-color;
    padding: 20px;

    @media (max-width: $phone) {
      display: inline-block;
      vertical-align: middle;
      width: 66px;
      height: 100%;
      padding: 10px;
      border-bottom: none;
      border-right: 1px solid $light-grey-color;
    }

    & > div {
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      background-position: center;
    }
  }

  .content {
    padding: 16px;

    @media (max-width: $phone) {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 66px);
      height: 100%;
      padding: 10px 10px 10px 15px;
    }

    .details {
      text-align: left;

      @media (max-width: $phone) {
        width: calc(100% - 82px);
        display: inline-block;
        vertical-align: middle;
      }

      .name {
        font-size: 22px;
        font-weight: 500;

        @media (max-width: $phone) {
          font-size: 17px;
        }
      }

      .price {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: $blue-color;
        margin-top: 10px;

        @media (max-width: $phone) {
          margin-top: 5px;
          font-size: 15px;
        }
      }
    }

    .action {
      margin-top: 18px;
      height: 46px;

      @media (max-width: $phone) {

        width: 82px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
        height: 30px;
      }

      button {
        width: 33.33%;
        display: inline-block;
        border: none;
        box-shadow: none;
        height: 100%;
        background-color: $mid-grey-color;
        vertical-align: middle;
        padding: 16px;
        cursor: pointer;

        @media (max-width: $phone) {
          padding: 9px 0;
        }

        img {
          width: 17px;

          @media (max-width: $phone) {
            width: 12px;
          }
        }
      }

      .quantity {
        width: 33.33%;
        display: inline-block;
        font-size: 25px;
        background-color: $light-grey-color;
        height: 100%;
        vertical-align: middle;
        padding: 7px 0;
        color: $green-color;
        font-weight: bold;

        @media (max-width: $phone) {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}

.card_small {
  height: 64px;

  .image {
    display: inline-block;
    vertical-align: middle;
    width: 66px;
    height: 100%;
    padding: 10px;
    border-bottom: none;
    border-right: 1px solid $light-grey-color;
  }

  .content {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 66px);
    height: 100%;
    padding: 10px 10px 10px 15px;

    .details {
      width: calc(100% - 82px);
      display: inline-block;
      vertical-align: middle;

      .name {
        font-size: 17px;
      }

      .price {
        margin-top: 5px;
        font-size: 15px;
      }
    }

    .action {
      width: 82px;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      height: 30px;

      button {
        padding: 9px 0;
        cursor: pointer;

        img {
          width: 12px;
        }
      }

      .quantity {
        font-size: 15px;
        text-align: center;
      }
    }

    .action_add {
      width: 82px;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      height: 30px;
    }
  }
}
