@import '../../config/config';

.homepage {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  overflow-y: auto;

  & > .title {
    height: 92px;
    padding: 25px 0;

    @media (max-width: $phone) {
      height: 65px;
      padding: 15px 0;
    }

    .cmn_container {
      text-decoration: none;

      .tag {
        font-weight: 500;
        font-size: 34px;
        width: 80%;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: $phone) {
          font-size: 22px;
          width: 70%;
        }

        button {
          text-decoration: none;
          display: none;

          @media (max-width: $phone) {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }

          img {
            width: 22px;
            height: 22px;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .add {
        display: inline-block;
        vertical-align: middle;
        text-align: right;

        @media (max-width: $phone) {
          width: 20%;
        }
      }
    }
  }

  & > .loading {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 18px 5px;
    height: 70px;

    @media (max-width: $phone) {
      height: 39px;
      padding: 6px 5px;
    }

    img {
      width: 34px;

      @media (max-width: $phone) {
        width: 28px;
      }
    }
  }

  & > .count {
    height: 70px;
    background-color: $light-grey-color;
    padding: 22px 0;

    @media (max-width: $phone) {
      height: 41px;
      padding: 10px 0;
    }

    .cmn_container {
      text-decoration: none;

      & > div {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        font-size: 23px;

        @media (max-width: $phone) {
          font-size: 16px;
        }

        .light {
          color: #787878;
        }

        .bold {
          font-weight: 600;
        }
      }

      .left {
        text-decoration: none;
      }

      .right {
        text-align: right;
      }
    }
  }

  & > .items {
    padding: 20px 0;
    text-align: center;

    .cmn_container {
      text-decoration: none;
      display: inline-block;

      .item {
        text-decoration: none;
        width: 20%;
        float: left;
        padding: 8px;

        @media (max-width: $phone) {
          width: 100%;
          padding: 5px 0;
        }
      }

      .empty {
        margin-top: 100px;

        img {
          text-decoration: none;

          @media (max-width: $phone) {
            width: 130px;
            height: 130px;
          }
        }

        .text {
          text-decoration: none;

          @media (max-width: $phone) {
            font-size: 18px;
          }
        }

        & > button {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          width: 238px;
          height: 58px;
          font-size: 23px;
          border: none;
          margin-top: 30px;
          border-radius: 2px;

          @media (max-width: $phone) {
            height: 40px;
            background: none;
            font-size: 17px;
            width: 190px;
          }
        }
      }
    }
  }
}
