@import '../../../config/config';

button.icon_btn {
  background-color: $green-color;
  border: none;
  box-shadow: none;
  cursor: pointer;

  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  & > .text {
    color: $white-color;
    padding-left: 10px;
  }

  & > .icon {

    & > img {
      float: right;
      width: 15px;
    }

    & > .button_icon {
      width: 15px;
    }
  }
}

.disabled_icon_btn {
  opacity: 0.7;
  cursor: inherit;
}

.icon_btn_size_s {
  padding: 8px 10px;
  height: 34px;
  min-width: 60px;
  font-size: 13px;

  @media (max-width: $phone) {

  }
}

.icon_btn_size_m {
  padding: 10px 10px;
  height: 40px;
  min-width: 72px;
  font-size: 14px;

  @media (max-width: $phone) {
    height: 34px;
    font-size: 13px;
    padding: 8px 10px;
    min-width: 50px;
  }
}

.icon_btn_size_l {
  padding: 13px 10px;
  height: 47px;
  min-width: 72px;
  font-size: 16px;

  @media (max-width: $phone) {

  }
}

